<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script> -->
  <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>
  <title>Youtube Video Analyser</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Youtube Video Analyser</p>
      </div>
    </div>
  </nav>
  <header class="banner">
    <div class="container"></div>
    <div class="col-lg-12">
    </div>

    </div>

    </div>
  </header>


  <section id="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <img src="{{ url_for('static', filename='sa.gif') }}" class="img-responsive" alt="">
        </div>
        <div class="col-lg-6 about" >
          <p><strong>Youtube Video Analyser</strong> is a superb game, freemium or otherwise, with more nuance than most
            give it credit for. That's why it's passed the test of time since its launch and still has an active
            community devotedly constructing elaborate fortresses in the hope of becoming invincible.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur asperiores, consectetur ipsum architecto
            quasi magni labore harum ad recusandae cupiditate, saepe alias deleniti mollitia libero aut sequi.
            Asperiores, deserunt est?
            Dolor ipsa culpa dolore! Beatae ipsam pariatur assumenda voluptatibus doloribus magnam, omnis harum quam
            accusantium illum ad eos provident odit eaque suscipit corporis consequatur officia quis rerum mollitia
            neque a.
            Nulla id, aliquam maxime excepturi facere officiis. Odio harum ea provident praesentium obcaecati sed at
            veniam fugiat quaerat aliquam amet exercitationem nam enim rem tempore, vitae omnis ratione eius. Ducimus.
          </p>

        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="container url">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Video URL</h2>

          <div class="form-outline">
            <input type="url" id="typeURL" class="form-control" placeholder="Enter Video URL Here" />
            <button type="button" class="btn btn-dark btn-rounded submit" onclick="submit()">SUBMIT</button>
            <p id="alert" class="blink_me" style="color:white"><strong>⚠️ Please enter a URL</strong></p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section hidden id="portfolio">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Results</h2>
          <hr class="star-primary">
        </div>
      </div>


      <div class="row">

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%201&font=lato" alt="Portfolio 1">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%202&font=lato" alt="Portfolio 2">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%203&font=lato" alt="Portfolio 3">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%204&font=lato" alt="Portfolio 4">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%205&font=lato" alt="Portfolio 5">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%206&font=lato" alt="Portfolio 6">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%207&font=lato" alt="Portfolio 7">
          </a>
        </div>

        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%208&font=lato" alt="Portfolio 8">
          </a>
        </div>


      </div>



      </div>
  </section>

  <section id="contact">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Contact</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div class="row footer">
        <div class="col-lg-12">
          <p><strong>Program created by Nardos Alemu</strong></p>
          <p>Email: <strong>nardos2alemu@gmail.com</strong></p>

        </div>


      </div>

    </div>
  </section>
</body>

</html>